/* css reset */

*{
    border-style: border-box;
    margin: 0;
    padding: 0;
}

body{
    font-family: "fredoka", sans-serif;
}

/* generics */

a{
    text-decoration: none;
    color: #3880C2;
}

/* utilities */

.container{
    max-width: 1080px;
    margin: 0 auto;
}

/* header */
.meet-our-team-header h1{
    margin: 40px 0;
    color: #EA5B8D;    
}

.meet-our-team-header{
    text-align: center;
    margin:40px;
}

.d-flex{
    display: flex;
}

/* CARDS */

.team-cards{
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.card{
    background-color: black;
    color: white;
    margin: 10px;
    flex: 1 1 calc(100% / 3 - 20px);
}

.card-image{
    height: 100px;
    margin-right: 10px;
}

.card-content{
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 10px 0;
}

.card-content *{
    height: calc((100px - 20px) / 3);
}